.footerContainer
{
    background-color: blueviolet;
    height:700px;
    display: flex;
    justify-content: center;
}

.footerElements{
    width:1024px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.footerTitle{
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.footerDesc{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: center;
    gap: 20px;
    padding-right: 80px;
}

.footerDescOne{
    background-color: aqua;
    text-align: right;
    padding: 5px;
}
.footerDescOneTitle
{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.footerDescOneInfo
{
    font-size: 12px;
}

.footerDescTwo{
    background-color:brown;
    text-align: left;
    padding: 5px;
}
.footerDescTwoTitle
{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.footerDescTwoInfo
{
    font-size: 12px;
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 4));
    }
  }
  
  .sliderFooter {
    height: 150px;
    overflow: hidden;
    width: 100%;
  }
  
  .sliderFooter::before,
  .sliderFooter::after {
    height: 150px;
    width: 200px;
}
  
  .sliderFooter::after {
    transform: rotateZ(180deg);
  }

  .sliderFooter .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 8);
  }
  
  .sliderFooter .slide {
    height: 150px;
    width: 250px;
  }

  .footerInfo{
    width:100%;
    height: 300px;
    background-color: brown;
  }
  .footerInfoItems
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    background-color: aqua;
    width: 100%;
    height: 150px;
  }
  .footerInfoItem
  {
    height: 100%;
    width:170px;
    background-color: coral;
    display: flex;
    flex-direction: column;
  }
  .footerInfoItemTitle
  {
   padding: 10px;
    text-transform: uppercase;
  }
  .footerInfoItemData
  {
    padding-left: 10px;
    padding-bottom: 5px;
  }

  .footerMedia{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
  }
  .mediaInst:hover{
    filter: invert(39%) sepia(58%) saturate(3062%) hue-rotate(298deg) brightness(100%) contrast(93%);
  }