.headerElements{
    height:650px;
    display: flex;
    justify-content: flex-start;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:110px;
}

.slider{
    width: 1024px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.sliderImages
{
    display: flex;
    width:100%;
    height:500px;
    cursor: pointer;
}


.sliderImg{
    width: 100%;
    height:100%;
}

.sliderElements{
    display: flex;
    justify-content: space-between;  
    background-color: aqua;
    align-items: center;
    height: 40px;
}

.sliderArrow
{
    display: flex;
    gap:10px;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.arrowL
{
    transform: scaleX(-1);
    cursor: pointer;    
}
.arrowR{
    cursor: pointer;
}
.arrowL:hover{
    scale:1.1;
    transition:0.2s;
}
.arrowR:hover{
    scale:1.1;
    transition:0.2s;
}

.sliderPointers{
padding: 10px;
}

.sliderPointer{
    cursor: pointer;
    padding: 5px;
}
.sliderPointer:hover{
    scale:1.1;
}


.elementsSocial
{
    height: 70px;
    width:1024px;
    display: flex;
    background-color: chocolate;
}
.elementsSocialWrapper{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infoElm
{
    width:256px;
    height:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.infoElm:hover{
    transition: 0.2s;
    background-color: gainsboro;
    cursor: pointer;
}
.infoElm

.iconImg{
    padding: 10px;
}



